/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.textspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  padding: 30px;
  box-sizing: border-box;
}
/* 
.inputfield {
  height: 10px;
  padding: 10px;
  border-radius: 0px;
} */

.actualchatbox {
  width: 600px;
}

.chathistory {
  overflow-y: scroll;
}

.mainchatbot {
  width: 600px;
}
.cs-message__sender-name {
  display: block;
}
